<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item h5 text-green"><a class="text-green" routerLink="/payroll/employee">
          Employees
        </a></li>
      <li class="breadcrumb-item active h5" aria-current="page">New Employee
      </li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="card mt-3 text-muted">
    <div class="card-header bg-white h5">
      <div class="h5 mb-0 text-center">Bio data</div>
    </div>
    <div class="card-body text-center">
      <form (submit)="onSubmitEmployee(employeeForm)" #employeeForm="ngForm">
        <div class="row text-muted">

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">First Name</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="firstname.touched && firstname.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" name="inputFirstName" ngModel required
                minlength="3" autocomplete="off" placeholder="First Name..." #firstname="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="firstname.touched && !firstname.valid">
              <div *ngIf="firstname.errors.required">
                This field is required.
              </div>
              <div *ngIf="firstname.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Last Name</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="lastname.touched && lastname.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" name="inputLastName" ngModel minlength="3"
                autocomplete="off" placeholder="Last Name..." #lastname="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="lastname.touched && !lastname.valid">
              <div *ngIf="lastname.errors.required">
                This field is required.
              </div>
              <div *ngIf="lastname.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Middle Name</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="middlename.touched && middlename.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" name="inputMiddleName" ngModel minlength="3"
                autocomplete="off" placeholder="Middle Name..." #middlename="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="middlename.touched && !middlename.valid">
              <div *ngIf="middlename.errors.required">
                This field is required.
              </div>
              <div *ngIf="middlename.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="h6 text-left mt-4 mb-1">Date of Birth</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="dob.touched && dob.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="date" class="form-control form-control-lg" name="inputDOB" ngModel required dob minlength="5"
                autocomplete="off" placeholder="dob..." #dob="ngModel">
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="dob.touched && !dob.valid">
              <div *ngIf="dob.errors.required">
                This field is required.
              </div>
              <div *ngIf="dob.errors.minlength">
                Minimum 5 characters needed.
              </div>
              <div *ngIf="dob.errors.dob">
                dob characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="h6 text-left mt-4 mb-1">Phone Number</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="phonenumber.touched && phonenumber.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="number" class="form-control form-control-lg" name="inputPhoneNumber" ngModel required
                minlength="7" autocomplete="off" placeholder="Phone Number..." #phonenumber="ngModel">
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="phonenumber.touched && !phonenumber.valid">
              <div *ngIf="phonenumber.errors.required">
                This field is required.
              </div>
              <div *ngIf="phonenumber.errors.minlength">
                Minimum 7 numbers needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="h6 text-left mt-4 mb-1">Country</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="country.touched && country.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <select class="form-control form-control-lg" name="inputCountry" ngModel required #country="ngModel">
                <option selected value="">Country...</option>
                <option value="NGA">Nigeria</option>
                <option value="GHA">Ghana</option>

              </select>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="country.touched && !country.valid">
              <div *ngIf="country.errors.required">
                This field is required.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div [ngSwitch]="viewMode" *ngIf="!loading">
              <div *ngSwitchCase="'add'">

                <div class="h6 text-left mt-4 mb-0">Gender <span (click)="viewMode = 'new'"
                    class="small text-green float-right pointer mb-0" matTooltip="Add new gender"
                    matTooltipPosition="above">
                    <mat-icon class="text-green h6 mb-0">add</mat-icon>Add Gender
                  </span>
                </div>
                <div class="input-group mt-0">
                  <div class="input-group-prepend bg-light" *ngIf="gender.touched && gender.valid">
                    <span class="input-group-text bg-white" matTooltip="rgdfdsf" matTooltipPosition="above">
                      <mat-icon class="text-green">done_all</mat-icon>
                    </span>
                  </div>
                  <select class="form-control form-control-lg" name="inputGender" ngModel required #gender="ngModel">
                    <option selected value="">Gender...</option>
                    <option *ngFor="let gender of genders" [value]="gender.id">
                      {{  gender.name }}
                    </option>
                  </select>
                </div>
                <div class="alert alert-danger p-1 m-0" *ngIf="gender.touched && !gender.valid">
                  <div *ngIf="gender.errors.required">
                    This field is required.
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'new'">
                <div class="h6 text-left mt-4 mb-0">Gender <span (click)="viewMode = 'add'"
                    class="small text-green float-right pointer mb-0" matTooltip="Cancel" matTooltipPosition="above">
                    <mat-icon class="text-green h6 mb-0">clear</mat-icon>Cancel
                  </span>
                </div>
                <form (submit)="onSubmitGender(genderForm)" #genderForm="ngForm">
                  <div class="input-group float-right">
                    <input type="text" class="form-control no_outlline form-control-lg" name="inputGender" ngModel
                      required minlength="3" autocomplete="off" placeholder="Create gender here..." #gender="ngModel">
                    <div class="input-group-append">
                      <button type="submit" class="btn bg-green no_outlline text-white">Add</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
            <div class="h6 text-left mt-4 mb-1">Address</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="address.touched && address.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <textarea class="form-control form-control-lg" name="inputAddress" ngModel required minlength="3"
                autocomplete="off" placeholder="address..." #address="ngModel"></textarea>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="address.touched && !address.valid">
              <div *ngIf="address.errors.required">
                This field is required.
              </div>
              <div *ngIf="address.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>
        </div>
        <hr>


        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- <div class="h5 mt-4">Qualifications</div>
        <div class="row text-muted">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Full Name</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="name.touched && name.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" name="inputNokName" ngModel required minlength="3"
                autocomplete="off" placeholder="Full Name..." #name="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors.required">
                This field is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Phone Number</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="phoneNumber.touched && phoneNumber.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="number" class="form-control form-control-lg" name="inputNokPhoneNumber" ngModel required
                minlength="7" autocomplete="off" placeholder="Phone Number..." #phoneNumber="ngModel">
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="phoneNumber.touched && !phoneNumber.valid">
              <div *ngIf="phoneNumber.errors.required">
                This field is required.
              </div>
              <div *ngIf="phoneNumber.errors.minlength">
                Minimum 7 numbers needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Email</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="email.touched && email.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="email" class="form-control form-control-lg" name="inputNokEmail" ngModel minlength="5" email
                autocomplete="off" placeholder="Email..." #email="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required">
                This field is required.
              </div>
              <div *ngIf="email.errors.minlength">
                Minimum 7 numbers needed.
              </div>
              <div *ngIf="email.errors.email">
                Email characters needed.
              </div>
            </div>
          </div>

        </div> -->
        <!-- <hr> -->
        <div class="h5 mt-4">Next of Kins</div>
        <div class="row text-muted">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Full Name</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="name.touched && name.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" name="inputNokName" ngModel required minlength="3"
                autocomplete="off" placeholder="Full Name..." #name="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors.required">
                This field is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Phone Number</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="phoneNumber.touched && phoneNumber.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="number" class="form-control form-control-lg" name="inputNokPhoneNumber" ngModel required
                minlength="7" autocomplete="off" placeholder="Phone Number..." #phoneNumber="ngModel">
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="phoneNumber.touched && !phoneNumber.valid">
              <div *ngIf="phoneNumber.errors.required">
                This field is required.
              </div>
              <div *ngIf="phoneNumber.errors.minlength">
                Minimum 7 numbers needed.
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="h6 text-left mt-4 mb-1">Email</div>
            <div class="input-group">
              <div class="input-group-prepend bg-light" *ngIf="email.touched && email.valid">
                <span class="input-group-text bg-white">
                  <mat-icon class="text-green">done_all</mat-icon>
                </span>
              </div>
              <input type="email" class="form-control form-control-lg" name="inputNokEmail" ngModel minlength="5" email
                autocomplete="off" placeholder="Email..." #email="ngModel" required>
            </div>
            <div class="alert alert-danger p-1 m-0" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required">
                This field is required.
              </div>
              <div *ngIf="email.errors.minlength">
                Minimum 7 numbers needed.
              </div>
              <div *ngIf="email.errors.email">
                Email characters needed.
              </div>
            </div>
          </div>
        </div>


        <div class="modal-footer mt-4">
          <button mat-raised-button class="btn btn-primary btn-lg bg-green  font-weight-bold py-1 mt-2" type="submit"
            [disabled]="!employeeForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>