<div [ngSwitch]="viewMode" *ngIf="!loading">
  <div *ngSwitchCase="'login'">

    <div class="container mt-5 p-3 d-flex justify-content-center">

      <div class="card text-center mt-5 pas-shadow" style="width: 30rem;">
        <div class="card-header h5 bg-success text-white">Sign In</div>

        <div class="card-body px-5 bg-white text-muted">


          <form (submit)="onLogin(loginForm)" #loginForm="ngForm">

            <div class="h6 text-left mt-5 mb-1">Username</div>
            <input type="text" class="form-control form-control-lg" name="inputUserName" ngModel minlength="3"
              autocomplete="off" placeholder="Email..." #userName="ngModel" required>
            <div class="alert alert-danger p-1 m-0" *ngIf="userName.touched && !userName.valid">
              <div *ngIf="userName.errors.required">
                This field is required.
              </div>
              <div *ngIf="userName.errors.minlength">
                Minimum 3 characters needed.
              </div>
            </div>
            
            <div class="h6 text-left mt-5 mb-1">Password</div>
            <input type="password" class="form-control form-control-lg" name="inputPassword" ngModel
              minlength="6" placeholder="Password..." #password="ngModel" required>
            <div class="alert alert-danger p-1 m-0" *ngIf="password.touched && !password.valid">
              <div *ngIf="password.errors.required">
                This field is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Minimum 6 characters needed.
              </div>
            </div>

            <div class="form-group form-check text-left mt-4 text-muted">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Keep me signed in</label>
            </div>

            <button mat-raised-button class="btn btn-block btn-lg btn-success mt-2 py-1" type="submit"
              [disabled]="!loginForm.valid">Log In</button>
            <div class="d-flex align-items-end flex-column bd-highlight">
              <a class="mt-1 mb-4 small text-success" routerLink="/register">Forgot password?</a>

            </div>
            <p class="mt-4">Don't have an Account?</p>
            <a class="h5 pointerr text-success mb-3" (click)="viewMode = 'register'">Register</a>

            <!-- <button mat-raised-button class="btn btn-block btn-lg btn-success mt-5 mb-4 py-1" type="submit"
          [disabled]="!loginForm.valid">Sign In</button>

        <a class="small mt-5" routerLink="/register">Forgot password?</a> -->
          </form>
        </div>
      </div>
    </div>


  </div>
  <div *ngSwitchCase="'register'">


    <div class="container mt-5 p-3 d-flex justify-content-center">

      <div class="card text-center mt-5 pas-shadow" style="width: 30rem;">
        <div class="card-header h5 bg-success text-white">Sign up</div>

        <div class="card-body px-5 bg-white text-muted">


          <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <div class="h6 text-left mt-5 mb-1">Username</div>
            <input type="email" class="form-control form-control-lg" name="inputEmail" ngModel minlength="5" email
              autocomplete="off" placeholder="Email..." #email="ngModel" required>
            <div class="alert alert-danger p-1 m-0" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required">
                This field is required.
              </div>
              <div *ngIf="email.errors.minlength">
                Minimum 5 characters needed.
              </div>
              <div *ngIf="email.errors.email">
                Email characters needed.
              </div>
            </div>

            <div class="h6 text-left mt-5 mb-1">Username</div>
            <input type="password" class="form-control form-control-lg" name="inputPassword" ngModel minlength="6"
              placeholder="Password..." #password="ngModel" required>
            <div class="alert alert-danger p-1 m-0" *ngIf="password.touched && !password.valid">
              <div *ngIf="password.errors.required">
                This field is required.
              </div>
              <div *ngIf="password.errors.minlength">
                Minimum 6 characters needed.
              </div>

            </div>

            <button mat-raised-button class="btn btn-block btn-lg btn-success mt-5 py-1" type="submit"
              [disabled]="!signupForm.valid">Sign up</button>
            <div class="d-flex align-items-end flex-column bd-highlight">


            </div>
            <p class="mt-4">Already have an Account?</p>
            <a class="h5 pointerr text-success mb-3" (click)="viewMode = 'login'">Login</a>

          </form>
        </div>
      </div>
    </div>

  </div>

  <div *ngSwitchDefault>
    <div class="h5">
      Nothing
    </div>
  </div>

</div>