<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent my-4 row py-1">
            <li class="breadcrumb-item active h5" aria-current="page">Inventory directory
            </li>
        </ol>
    </nav>
</div>





<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="product"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Products</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="supplier"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold font-weight-bold">Suppliers</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="sales_register"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Sales Register</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="purchase_register"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Purchase Register</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="stock"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Stock Sheet</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="stock_credit"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Stock Credit</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
            <div class="card directory-card text-muted text-center">
                <div class="card-body">
                    <app-icon name="stock_return"></app-icon>
                    <p class="h5 mt-3 text-dark font-weight-bold">Stock Return</p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </div>
            </div>
        </div>

    </div>
</div>