<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Payroll directory
      </li>
    </ol>
  </nav>
</div>



<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/department" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee_department"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold font-weight-bold">Department</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employee</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee-type" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee_type"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employee Type</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee-deduction" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee_deduction"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employee Deduction</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee-earnings" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee_earnings"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employee Earnings</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee-grade" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="employee_grade"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employee Grade</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

  </div>
</div>