<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Payroll directory
      </li>
    </ol>
  </nav>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <a routerLink="/payroll/employee" class="card-body text-muted">
          <app-icon name="employee"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Employees</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </a>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-center">
        <a routerLink="/payroll/compensation" class="card-body text-muted">
          <app-icon name="compensation"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold font-weight-bold">Compensation</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </a>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-center">
        <div class="card-body text-muted" routerLink="/payroll">
          <app-icon name="loan"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Loans</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div routerLink="/payroll/employee-deduction" class="card-body text-muted">
          <app-icon name="employee_deduction"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Permissions</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div routerLink="/payroll/employee-earnings" class="card directory-card text-muted text-center">
        <div class="card-body text-muted">
          <app-icon name="accounting"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Accounting</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div routerLink="/payroll/employee-grade" class="card-body text-muted">
          <app-icon name="employee_grade"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Payslip</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div routerLink="/payroll/employee-grade" class="card-body text-muted">
          <app-icon name="report"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Reports</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

  </div>
</div>