<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent my-4 row py-1">
            <li class="breadcrumb-item h5 text-green"><a class="text-green" routerLink="/payroll/employee">
                    Employees
                </a></li>
            <li class="breadcrumb-item active h5" aria-current="page">{{ employee?.firstname | titlecase }}
                {{ employee?.middlename | titlecase }}
                {{ employee?.lastname | titlecase }}
            </li>
        </ol>
    </nav>
</div>


<div class="container-fluid mt-3" *ngIf='!loading'>
    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
            <div class="card text-muted pas-card my-2">
                <img src="https://via.placeholder.com/150" alt="engineer_img">

                <!-- <mat-icon class="text-info ml-auto mr-2" mat-icon-button matTooltip="Actions" matTooltipPosition="left"
                    [matMenuTriggerFor]="menu">expand_more</mat-icon>
                <mat-menu #menu="matMenu" xPosition="before">
                    <div class="font-weight-bold">
                        <ul class="list-group list-group-flush">
                            <li class="text-muted"
                                matTooltip="By making him an admin, he will have the same authority as you"
                                matTooltipPosition="before" mat-menu-item [routerLink]="['/admin/engineers']">
                                <mat-icon>how_to_reg</mat-icon>Make admin
                            </li>
                            <li class="list-group-item my-ppointer text-muted"
                                matTooltip="By restricting this user, he will not be able to perform any task in his account"
                                matTooltipPosition="before" mat-menu-item>
                                <mat-icon>not_interested</mat-icon>
                                Restrict
                            </li>
                        </ul>
                    </div>
                </mat-menu> -->

                <div class="card-body text-muted py-2">
                    <p class="h5 mt-2 text-center">{{ employee?.firstname | titlecase }}
                        {{ employee?.middlename | titlecase }}
                        {{ employee?.lastname | titlecase }}</p>
                    <p class="mb-1">{{employee?.dateofBirth}}</p>
                    <p class="mb-1">Date employed: {{ employee?.date_created | date:'mediumDate' }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-3 px-0">
                            <p class="small font-weight-bold mt-1 mb-0">CONTACTS</p>
                            <p class="mb-1">0{{employee?.phone}}</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="card my-2 pas-card">
                        <div class="card-header bg-white text-muted px-4 h5">Next of Kins
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="card my-2 pas-card">
                        <div class="card-header bg-white text-muted px-4 h5">Payment
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card my-2 pas-card">
                        <div class="card-header bg-white text-muted px-4 h5">Qualifications
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card my-2 pas-card">
                        <div class="card-header bg-white text-muted px-4 h5">Work Experience
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>