<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Accounting directory
      </li>
    </ol>
  </nav>
</div>


<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <a routerLink="/accounting/transaction" class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="chart"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Charts of Account</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </a>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction_type"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Accounts Payable</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction_type"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Accounts Recievable</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="journal"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold font-weight-bold">Journal Balance</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Transactions</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction_map"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Transaction Map</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction_type"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Transaction Type</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div> -->

    <div class="col-sm-12 col-md-4 col-lg-5 col-xl-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="report"></app-icon>
          <p class="h5 mt-3 text-dark font-weight-bold">Reports</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

  </div>
</div>