<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Accounting directory
      </li>
    </ol>
  </nav>
</div>


<div class="container">
  <div class="row">
<!-- 
    <div class="col-3 my-4">
      <div class="card p-2 pas-shadow text-muted text-center">
        <app-icon name="chart"></app-icon>
        <p class="h5 text-dark">Charts of Account</p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        <div class="card-body">

        </div>
      </div>
    </div> -->

    <div class="col-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="chart"></app-icon>
          <p class="h5 text-dark">Charts of Account</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="transaction"></app-icon>
          <p class="h5 text-dark">Transactions</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="journal"></app-icon>
          <p class="h5 text-dark">Charts of Account</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>

    <div class="col-3 my-4">
      <div class="card directory-card text-muted text-center">
        <div class="card-body">
          <app-icon name="chart"></app-icon>
          <p class="h5 text-dark">Charts of Account</p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
      </div>
    </div>



  </div>
</div>