<mat-drawer-container class="containerr" autosize>
    <mat-toolbar class="my-toolbar bg-white container-fluid" *ngIf="userIsAuthenticated">

        <div class="row mt-3">
            <a class="pointerr ml-5 text-muted" (click)="drawer.toggle()">
                <mat-icon>reorder</mat-icon>
            </a>
            <!-- <div class="input-group">
                <select class="form-control" name="inputBranch" ngModel #branch="ngModel">
                    <option selected value="">Branch...</option>
                    <option value="Any branch">Any</option>
                    <option *ngFor="let branch of branches" selected [value]="branch.name">
                        {{  branch.name }}
                    </option>
                </select>
            </div>-->
            <ul class="list-inline ml-4">
                <div class="input-group float-right">
                    <select class="form-control" name="inputBusiness" ngModel #branch="ngModel">
                        <option selected *ngFor="let business of businesses" [value]="business.name">
                            {{  business.name }}
                        </option>
                        <!-- <option selected value="">Abc company</option> -->

                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text bg-green text-white">New</span>
                    </div>
                </div>

            </ul>

        </div>

        <!-- <p class="font-weight-bold mb-0 ml-5 h5">{{ title }}</p> -->
        <button class="btn btn-lg ml-auto text-muted py-0 mr-5" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button mat-button (click)="onLogout()">
                    <mat-icon class="mr-2">power_settings_new</mat-icon> Logout
                </button>
            </ng-template>
        </mat-menu>
    </mat-toolbar>
    <!-- mode="side" -->

    <mat-drawer #drawer class="sidebar lead font-weight-bold" mode="side"
        [opened]="userIsAuthenticated">

        <div class="sidebar-content">
            <div class="text-center mt-2 p-0">
                <img class="m-0" src="../assets//logo_passme.jpg" alt="" srcset="">
            </div>
            <hr>
            <ul>
                <li><a class="h6 mb-0" routerLink="/dashboard" routerLinkActive="current">
                        <mat-icon class="mr-2">dashboard</mat-icon>Dashboard
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/accounting" routerLinkActive="current">
                        <mat-icon class="mr-2">money</mat-icon>Accounting
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/inventory" routerLinkActive="current">
                        <mat-icon class="mr-2">storage</mat-icon>
                        Inventory
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/payroll" routerLinkActive="current">
                        <mat-icon class="mr-2">payment</mat-icon>
                        Payroll
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/invoice" routerLinkActive="current">
                        <mat-icon class="mr-2">event_note</mat-icon>
                        Invoice
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/loan" routerLinkActive="current">
                        <mat-icon class="mr-2">redeem</mat-icon>
                        Loans
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/asset-management" routerLinkActive="current">
                        <mat-icon class="mr-2">location_city</mat-icon>
                        Assets Management
                    </a></li>

                <li><a class="h6 mb-0" routerLink="/reports" routerLinkActive="current">
                        <mat-icon class="mr-2">trending_up</mat-icon>
                        Reports
                    </a></li>
            </ul>

        </div>

    </mat-drawer>
    <div class="sidenav-content">
        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>