<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mt-4 mb-3 row py-1">
      <li class="breadcrumb-item h5"><a class="text-green" routerLink="/payroll">
          Payroll
        </a></li>
      <li class="breadcrumb-item active h5" aria-current="page">Employees
      </li>
    </ol>
  </nav>
</div>

<div class="container-fluid" *ngIf="!loading">
  <div class="row d-flex justify-content-around">

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-6">
      <form (submit)="onSearch(filterDeviceForm)" #filterDeviceForm="ngForm">
        <div class="input-group my-1">
          <input type="text" class="bg-white form-control form-control-lg rounded-0" name="filtersearch" ngModel
            name="inputSearch" placeholder="Search employee...">
          <div class="input-group-prepend">
            <button mat-button type="submit" class="btn btn-lg btn-success bg-green">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="col-4"></div> -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
      <button matRipple routerLink="/payroll/employee/new" class="btn ml-auto btn-lg btn-success bg-green my-1 w-100">
        <mat-icon>person_add</mat-icon> Add Employee
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table mt-2 table-hover table-responsive-md table-bordered">
        <thead class="bg-green text-white text-center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Gender </th>
            <!-- <th scope="col">Departments </th> -->
            <!-- <th scope="col">Employee Type </th> -->
            <th scope="col">Employ date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="employee-table-list" class="bg-white">
          <tr *ngFor="let employee of employees">
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.id }}</td>
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.firstname }}
              {{ employee.middlename | titlecase }} {{ employee.lastname }} </td>
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.phone }}</td>
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.dateofBirth }}</td>
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.gender }}</td>
            <td [routerLink]="['/payroll/employee', employee.id]">{{ employee.date_created | date:'mediumDate' }}</td>


            <td class="text-center">
              <!-- <button type="button" matTooltip="View employee?"
                matTooltipPosition="left" class="btn btn-sm btn-info py-1 ml-5 rounded-0">
                <mat-icon>info</mat-icon>
              </button> -->
              <mat-icon matTooltip="View employee?" matTooltipPosition="left" [matMenuTriggerFor]="menu">more_vert
              </mat-icon>
              <mat-menu #menu="matMenu" xPosition="before">
                <div class="font-weight-bold">
                  <div class="list-group-item" mat-menu-item>
                    <mat-icon>edit</mat-icon>Edit
                  </div>
                  <button (click)="onDeleteDialog(employee.id)" type class="list-group-item my-ppointer" mat-menu-item>
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                </div>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="lead col-12 mt-3 text-muted font-italic d-flex align-items-center flex-column bd-highlight"
      *ngIf="employees.length <= 0">No employee added yet</div>
  </div>
</div>