<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item h5"><a class="text-green" routerLink="/payroll">
          Payroll
        </a></li>
      <li class="breadcrumb-item active h5" aria-current="page">Employees
      </li>
    </ol>
  </nav>
</div>



<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="pas-card card my-4 p-3">
        <table class="table my-table-design table-hover table-responsive-md table-bordered">
          <thead class="bg-green text-white text-center">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Full Name</th>
              <th scope="col">Phone number</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Gender </th>
              <th scope="col">Departments </th>
              <th scope="col">Address</th>
              <th scope="col">Employee Type </th>
              <th scope="col">Employ date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="employee-table-list" class="bg-white">
            <tr>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="pointerr">
                jgfdgkshdj</td>
              <td class="text-truncate" style="max-width: 150px;"> tyrhngfffggnfgdfdfs</td>
              <td class="p-0">
                <button type="button" matTooltip="Edit employee?" matTooltipPosition="left"
                  class="btn btn-sm btn-warning py-1 m-1 rounded-0">
                  <mat-icon>create</mat-icon>
                </button>
                <button type="button" class="btn btn-sm btn-danger py-1 m-1 rounded-0" matTooltip="Delete employee?"
                  matTooltipPosition="left">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>