<div class="container-fluid px-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent my-4 row py-1">
      <li class="breadcrumb-item active h5" aria-current="page">Dashboard
      </li>
    </ol>
  </nav>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card pas-shadow ">
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam ipsam id libero similique, quo
          ratione totam quaerat in a deleniti sequi, unde, beatae explicabo error non magni maxime iusto!
        </div>
      </div>
    </div>
  </div>
</div>