/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
html, body {
    height: 100%;
}

mat-icon {
    vertical-align: middle !important;
}

body {
    margin: 0;
    font-size: 14px !important;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Nuni !important;
    background-color: #fdfdfd !important;
}

a:hover {
    text-decoration: none;
}

.pointerr {
    cursor: pointer;
}

.pas-shadow {
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}

.text-green {
    color: #1ed199;
}

.bg-green {
    background-color: #1ed199;
}

.form-control {
    background-color: #f7f9fc !important;
    border-color: #b3ecd6 !important;
}

/* .btn {
    border-radius: 30px !important;
} */

.btn:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.directory-card {
    border-left: solid #1ed199 5px;
    border-radius: 10px;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .11);
    cursor: pointer;
}

.directory-card:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 1px 15px 35px -10px rgba(0, 0, 0, 0.4);
    transition: ease-in .3s;
}

.pas-card {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .11);
}