/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
html, body {
    height: 100%;
}

mat-icon {
    vertical-align: middle !important;
}

body {
    margin: 0;
    font-size: 14px !important;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Nuni !important;
    background-color: rgb(221, 227, 241) !important;
}

.pas-shadow {
    /* -webkit-box-shadow: -1px 4px 16px -4px rgba(35, 35, 35, 0.299);
    -moz-box-shadow: -1px 4px 16px -4px rgba(61, 76, 73, 0.299);
    box-shadow: -1px 4px 16px -4px rgba(61, 76, 73, 0.299); */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(52, 34, 8, 0.4);
}



.form-control{
    background-color: #f7f9fc !important;
}